@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $COLORS
    Colors to use throughout your project
\*----------------------------------------------------------------------------*/

/*  Text colors
\*----------------------------------------------------------------------------*/

.color--black {
    color: $black;
}

.color--white {
    color: $white;
}



/*  Background colors
\*----------------------------------------------------------------------------*/

.background--black {
    background-color: $black;
}

.background--white {
    background-color: $white;
}