/*----------------------------------------------------------------------------*\
    INPUT.SELECT
    Purely css styled select input field
\*----------------------------------------------------------------------------*/

/*  Variables
\*----------------------------------------------------------------------------*/

$select-border-width: 1px !default;
$select-space-horizontal: 1em !default;
$select-arrow-width: $select-space-horizontal*3 !default;
$select-border-color: currentColor !default;
$select-arrow-color: currentColor !default;



/*  Component
\*----------------------------------------------------------------------------*/

.select {
    position: relative;
    display: inline-block;
    width: 100%;

    &::before,
    &::after {
        position: absolute;
        pointer-events: none;
    }

    &::before {
        top: 50%;
        right: $select-arrow-width/2;
        z-index: 1;
        line-height: 1;
        transform: translate(50%, -50%);
        color: $select-arrow-color;
        content: "▾";
    }

    &::after {
        position: absolute;
        top: $select-border-width;
        right: $select-border-width;
        bottom: $select-border-width;
        width: $select-arrow-width;
        border-left: $select-border-width solid $select-border-color;
        content: "";
    }
}



/*  Select
\*----------------------------------------------------------------------------*/

.select__element {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 ($select-arrow-width+$select-space-horizontal) 0 $select-space-horizontal;
    border: $select-border-width solid;
    -webkit-appearance: none;

    /**
     * Undo the Firefox inner focus ring
     */
    &:focus:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000000;
    }

    &::-ms-expand {
        display: none;
    }
}
