{{#colors}}
<h4>{{groupname}}</h1>
<ul class="list-clean  sg-colors">
  {{#swatches}}
  <li>
    <span class="sg-swatch  t-background--{{name}}"></span>
    <span class="sg-label">${{name}}<br>{{colorCode}}</span>
  </li>
  {{/swatches}}
</ul>
{{/colors}}
