<p>Primary font: sans-serif;</p>
<p><em>Primary font italic: sans-serif;</em></p>
<p><strong>Primary font bold: sans-serif;</strong></p>
<p class="font--secondary">Secondary font: serif;</p>
<p class="font--secondary"><em>Secondary font italic: serif;</em></p>
<p class="font--secondary"><strong>Secondary font bold: serif;</strong></p>
