/*  =========================================================================
    Colors
    ========================================================================= */

/*  Module
    ========================================================================= */

.t-color--black {
  color: $black;
}

.t-color--white {
  color: $white;
}

.t-background--black {
  background-color: $black;
}

.t-background--white {
  background-color: $white;
}
