<p>Nevertheless, the boats pursued, and Stubb's was foremost. By great exertion, Tashtego at last succeeded in planting one iron; but the stricken whale, without at all sounding, still continued his horizontal flight, with added fleetness. Such unintermitted strainings upon the planted iron must sooner or later inevitably extract it. It became imperative to lance the flying whale, or be content to lose him. But to haul the boat up to his flank was impossible, he swam so fast and furious. What then remained?</p>