{{#button}}
  <{{button.type}}
    title="{{button.title}}"
    {{#button.href}}href="{{button.href}}"{{/button.href}}
    class="button {{button.modifier}}"
    {{#button.id}}id="{{button.id}}"{{/button.id}}
    {{#button.isDisabled}}disabled{{/button.isDisabled}}
    {{{button.data}}}
  >{{{button.label}}}</{{button.type}}>
{{/button}}
