{{#inputRadio}}
<label class="c-control  c-control--radio  {{inputRadio.modifier}}">
  <input
    class="c-control__input"
    id="{{inputRadio.id}}"
    name="{{inputRadio.name}}"
    type="radio"
    {{#inputRadio.isChecked}}checked{{/inputRadio.isChecked}}
    {{#inputRadio.isDisabled}}disabled{{/inputRadio.isDisabled}}
  >
  <span class="c-control__indicator"></span>
  <span class="c-control__label">{{{inputRadio.label}}}</span>
</label>
{{/inputRadio}}
