{{#inputCheckbox}}
<label class="c-control  c-control--checkbox  {{inputCheckbox.modifier}}">
	<input
		class="c-control__input"
		id="{{inputCheckbox.id}}"
		name="{{inputCheckbox.name}}"
		type="checkbox"
		{{#inputCheckbox.isChecked}}checked{{/inputCheckbox.isChecked}}
		{{#inputCheckbox.isDisabled}}disabled{{/inputCheckbox.isDisabled}}
	>
	<span class="c-control__indicator"></span>
	<span class="c-control__label">{{{inputCheckbox.label}}}</span>
</label>
{{/inputCheckbox}}
