{{#inputCheckbox}}
<label class="control  control--checkbox  js--control  {{inputCheckbox.modifier}}">
	<input
		class="control__input  js--control__input"
		id="{{inputCheckbox.id}}"
		name="{{inputCheckbox.name}}"
		type="checkbox"
		{{#inputCheckbox.isChecked}}checked{{/inputCheckbox.isChecked}}
		{{#inputCheckbox.isDisabled}}disabled{{/inputCheckbox.isDisabled}}
	>
	<span class="control__indicator"></span>
	<span class="control__label">{{{inputCheckbox.label}}}</span>
</label>
{{/inputCheckbox}}
