{{#textarea}}
<textarea
  class="c-input-text  c-input-text--textarea  {{textarea.modifier}}"
  id="{{textarea.id}}"
  name="{{textarea.name}}"
  {{#textarea.placeholder}}
  placeholder="{{textarea.placeholder}}"
  {{/textarea.placeholder}}
  {{#textarea.isRequired}}
  required
  {{/textarea.isRequired}}
  {{#textarea.isReadonly}}
  readonly="readonly"
  {{/textarea.isReadonly}}
>{{textarea.value}}</textarea>
{{/textarea}}
