/*  =========================================================================
    settings.vars
    Any variables you find set in supple that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$supple-base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
    ========================================================================= */

/*  =========================================================================
    Overrides
    Place any variables that should override supple defaults here.
    ========================================================================= */

$supple-base-font-size: 16px;
$supple-base-line-height: 24px;



/*  =========================================================================
    Custom
    Place any of your own variables that sit on top of the framework here.
    ========================================================================= */

/*  Colors
    ========================================================================= */

$black: #000000 !default;
$white: #ffffff !default;
