{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 3,
        "maxEOF": 1
      }
    ]
  }
}
