@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in your framework that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $OVERRIDES
    Place any variables that should override defaults here.
\*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*\
    $CUSTOM
    Place any of your own variables that sit on top of the framework here.
\*----------------------------------------------------------------------------*/

/*  Typography
\*----------------------------------------------------------------------------*/

$font-base: sans-serif !default;
$font-secondary: serif !default;



/*  Colors
\*----------------------------------------------------------------------------*/

$black: #000000 !default;
$white: #ffffff !default;
